.form {

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: solid 3px transparent;  // will turn green when in focus
        border-radius: 2px;
        color: inherit;
        display: block;
        font-family: inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        width: 90%;
        transition: all .3s;

        &:focus {
            border-bottom: solid 3px $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            outline: none; // Gets rid of the blue default focus outline
        }

        &:focus:invalid {
            border-bottom: solid 3px $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        } // right now only works on safari and chrome
    }    

    &__label {
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label { // the '+' is used for adjacent sibling selectors (input & label)
        opacity: 0; // Using opacity so we can animate this effect
        transform: translateY(-4rem);
        visibility: hidden;
    }

    &__radio-group {
        display: inline-block; // Sets the radio buttons side by side
        width: 49%;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        cursor: pointer;
        font-size: $default-font-size;
        padding-left: 4.5rem;
        position: relative;
    }

    &__radio-button {
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        height: 3rem;
        left: 0;
        position: absolute;
        top: -.4rem;
        width: 3rem;

        &::after {
            background-color: $color-primary;
            border-radius: 50%;
            content: "";
            display: block;
            height: 1.3rem;
            left: 50%;
            opacity: 0; // Need to be invisible initially
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 1.3rem;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after { 
        opacity: 1;
    }
}